* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  padding: 15px 0;
  text-align: center;
  color: white;
  background-color: rgb(255, 42, 0);
  background-image: radial-gradient(
      at 40% 20%,
      hsla(28, 100%, 74%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 80% 0%, hsla(189, 100%, 56%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(340, 100%, 76%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(242, 100%, 70%, 1) 0px, transparent 50%);
}

main {
  padding: 20px;
}

.container {
  display: flex;
  gap: 20px;
}

.form-content {
  flex: 1;
}

.books-table-content {
  flex: 2;
  padding: 0 50px;
}

.form_group:not(.group-for-isComplete) {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
  margin-bottom: 10px;
}

.form_group > label {
  color: #333;
}

.form_group > input,
#searchbar {
  outline: none;
  border: 1px solid #eaeaea;
  padding: 8px;
  border-radius: 5px;
  transition: all 0.4s ease;
  font-size: 15px;
}

.form_group > input:focus,
#searchbar:focus {
  border: 1px solid #b4b1b1;
}

/* For Checkbox */
.group-for-isComplete {
  margin: 20px 0;
  display: flex;
  align-items: center;
  gap: 12px;
}

.group-for-isComplete > label {
  cursor: pointer;
}

.group-for-isComplete > input {
  transform: scale(1.4);
  cursor: pointer;
}

.form-buttons {
  display: flex;
  gap: 10px;
}

#submit-button,
#reset-button {
  cursor: pointer;
  padding: 10px;
  text-align: center;
  width: 100%;
  font-size: 16px;
  border: 1px solid #333;
  color: #333;
  border-radius: 4px;
  background: transparent;
  transition: all 0.4s ease;
}

#submit-button:hover,
#reset-button:hover {
  background: #333;
  color: white;
}

#submit-button:active,
#reset-button:active {
  transform: scale(0.8);
}

/* Searchbar */
.searchbar-elements {
  display: flex;
  gap: 8px;
  width: 50%;
  margin: 0 auto;
}

.searchbar-elements > input {
  width: 100%;
  font-size: 15px;
}

.searchbar-elements > input:focus::placeholder {
  opacity: 0;
}

.searchbar-button {
  cursor: pointer;
  font-size: 15px;
  border: 0;
  padding: 15px;
  background-color: #fb3600;
  color: white;
  border-radius: 5px;
}

.is-completed-to-reading-content > h3 {
  margin-top: 20px;
  font-weight: 500;
  color: #333;
}

.hr-custom {
  display: block;
  color: #eaeaea;
  background-color: #eaeaea;
  height: 1px;
  margin: 10px 0;
}

.card {
  padding: 10px;
  border: 1px solid #eaeaea;
  margin-bottom: 10px;
}

.line-through-title {
  text-decoration: line-through;
}

.action-buttons {
  display: flex;
  gap: 12px;
}

.action-buttons > button {
  margin-top: 10px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.action-buttons > button > svg {
  width: 25px;
  height: 25px;
}

@media screen and (max-width: 768px) {
  .container {
    display: block;
  }

  .books-table-content {
    margin-top: 50px;
    padding: 0 0;
  }

  .searchbar-elements {
    width: 100%;
  }
}

/* ANIMASI */
@keyframes cardShowing {
  0% {
    opacity: 0;
    transform: scaley(0.3);
  }
  100% {
    opacity: 1;
    transform: scaley(1);
  }
}
